<!DOCTYPE html>
<html>
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="box">
    <h2>Xin chào, {{ user.fullname }}</h2>

    <p>Vai trò: 
        {% if user.role_id == 1 %} ADMIN 
        {% else %} KHÁCH HÀNG {% endif %}
    </p>

    <p>Số điểm hiện tại: <b>{{ user.points }}</b></p>

    <h3>Cộng điểm thủ công (test)</h3>
    <form method="POST" action="/add_points">
        <label>Tổng hóa đơn (VNĐ):</label>
        <input type="number" name="total" required>

        <button type="submit">Cộng điểm</button>
    </form>

    <br>
    <a href="/logout">Đăng xuất</a>
</div>

</body>
</html>